.header{
    background-color: #ffadbd;
    color:white;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.534);
    position: relative;
    min-height: 40px;
    
}

.navbar{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    align-items: center;

}
.nav-links{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;
}

.nav-links h4{
    font-size: large;
    
}
.nav-links span{
    cursor: pointer;
    background-color: #e792a3;
    border: 1px solid #ec9cac;
    padding: 10px;
    margin-right:5px;
    border-radius: 7px;
    
}

.nav-links span:hover{
    box-shadow: 0 2px 5px 1px rgba(5, 5, 5, 0.226);
    
}